.main {
  min-height: 100vh;
  background: var(--bg-color-wt);
}

.lightTheme .headerContainer {
  color: white;
}

.headerContainer {
  height: 75px;
  background-color: var(--header-bg-wt);
  backdrop-filter: blur(10px);
}

.content {}

.footerContainer {}